[submodule "zeppelin-solidity"]
	path = zeppelin-solidity
	url = git@github.com:OpenZeppelin/zeppelin-solidity.git
[submodule "helpers/oracles-combine-solidity"]
	path = helpers/oracles-combine-solidity
	url = https://github.com/poanetwork/oracles-combine-solidity
